* {
    border: none;
    font-family: "FantasqueSansM Nerd Font";
    font-size: 20px;
    font-weight: 600;
    background: none;
}

window#waybar {
    color: #a5adcb;
}

window#waybar.topbar {
    padding: 200px;
}

.modules-left,
.modules-right,
.modules-center {
    border-radius: 10px;
    background: #1b1b1b;
    padding: 12px 0;
    margin: 8px;
}

tooltip {
    color: #a5adcb;
    background-color: #1b1b1b;
    text-shadow: none;
}

tooltip * {
    color: #a5adcb;
    text-shadow: none;
}

#custom-sep {
    color: #494d64;
    margin: 4px 0;
}

#workspaces,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#custom-powermenu,
#pulseaudio,
#tray {
    padding: 6px 0;
}

#tray menu {
    color: #a5adcb;
    background-color: #1b1b1b;
    border-radius: 8px;
}

#workspaces {
    border: none;
    border-radius: 4px;
}

#workspaces button {
    color: #5b6078;
    background: none;
    border: none;
    padding: 0;
}

#workspaces button:hover {
    color: #a6da95;
}

#workspaces button.active {
    color: #f5bde6;
}

#temperature {
    color: #eed49f;
    padding: 6px 0;
}

#clock {
    font-weight: 600;
    color: #8bd5ca;
}

#custom-bluetooth_devices {
    color: #8aadf4;
}

#pulseaudio {
    color: #a6da95;
    padding: 6px 0;
}

#pulseaudio.muted {
    color: #ed8796;
}

#custom-powermenu {
    margin: 12px 0 0 0;
    color: #6e738d;
}
